In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv("Advertising.csv")
df=df.iloc[:,1:len(df)]
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [11]:
X=df.drop("sales",axis=1)
y=df[["sales"]]

In [12]:
X

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [13]:
y

     sales
0     22.1
1     10.4
2      9.3
3     18.5
4     12.9
..     ...
195    7.6
196    9.7
197   12.8
198   25.5
199   13.4

[200 rows x 1 columns]

In [14]:
#sinama seti
from sklearn.model_selection import train_test_split

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=99)

In [16]:
X_train

        TV  radio  newspaper
16    67.8   36.6      114.0
51   100.4    9.6        3.6
97   184.9   21.0       22.0
164  117.2   14.7        5.4
71   109.8   14.3       31.7
..     ...    ...        ...
68   237.4   27.5       11.0
168  215.4   23.6       57.6
185  205.0   45.1       19.6
35   290.7    4.1        8.5
129   59.6   12.0       43.1

[160 rows x 3 columns]

In [20]:
y_train.head()

     sales
16    12.5
51    10.7
97    15.5
164   11.9
71    12.4

In [21]:
X_test.head()

       TV  radio  newspaper
135  48.3   47.0        8.5
127  80.2    0.0        9.2
191  75.5   10.8        6.0
66   31.5   24.6        2.2
119  19.4   16.0       22.3

In [22]:
y_test.head()

     sales
135   11.6
127    8.8
191    9.9
66     9.5
119    6.6

In [24]:
#train ile modeli fit edeceğiz
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
model=lm.fit(X_train,y_train)

In [28]:
#eğitim hatası
from sklearn.metrics import mean_squared_error
MSE=np.sqrt(mean_squared_error(y_train,model.predict(X_train)))
MSE

1.723682482265075

In [29]:
#test hatası
MSE=np.sqrt(mean_squared_error(y_test,model.predict(X_test)))
MSE

1.4312783138301641

In [ ]:
#random state parametresini farklı şekilde girersek eğer mse ve rmse değerleri değişir.

### K-katlı cross validation
cross validation scoor veri setini istediğimiz sayıda parçalara bölerek her bir parçayı periyodik bir şekilde dışarıda bırakarak doğrulama işlemi gerçekleştirir.

In [31]:
from sklearn.model_selection import cross_val_score

In [35]:
#cross_val_score(model,X_train,y_train,cv=10 (kaç parçaya bölmek istediğimiz),scorring="neg_mean_squared_error"))
cross_val_score(model,X_train,y_train,cv=10 ,scoring="neg_mean_squared_error")

array([-2.1019073 , -2.48953197, -3.09704214, -2.34694216, -3.68175761,
       -1.8691401 , -3.18173007, -4.1927349 , -2.17128376, -8.03821974])

In [36]:
-cross_val_score(model,X_train,y_train,cv=10 ,scoring="neg_mean_squared_error")

array([2.1019073 , 2.48953197, 3.09704214, 2.34694216, 3.68175761,
       1.8691401 , 3.18173007, 4.1927349 , 2.17128376, 8.03821974])

In [37]:
#cv mse
np.mean(-cross_val_score(model,X_train,y_train,cv=10 ,scoring="neg_mean_squared_error"))

3.3170289742341277

In [39]:
#cv rmse
np.sqrt(np.mean(-cross_val_score(model,X_train,y_train,cv=10 ,scoring="neg_mean_squared_error")))

1.8212712522395251